n8n/portfolio-contact.workflow.json
{
  "name": "Portfolio Contact Form",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "portfolio-contact",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-portfolio-contact",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "portfolio-contact"
    },
    {
      "parameters": {
        "fromEmail": "portfolio@yourdomain.com",
        "toEmail": "aryalkush12@gmail.com",
        "subject": "=Portfolio message from {{ $json.body.name || $json.name }}",
        "emailFormat": "text",
        "text": "=New message from your portfolio\n\nName: {{ $json.body.name || $json.name }}\nEmail: {{ $json.body.email || $json.email }}\n\nMessage:\n{{ $json.body.message || $json.message }}",
        "options": {}
      },
      "id": "send-email-portfolio",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [260, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true }",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-webhook-portfolio",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [520, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
